base==1.0.4
click==8.0.3
dataclasses==0.6
Flask==2.0.2
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
SQLAlchemy==1.4.31
typing-extensions==4.0.1
Werkzeug==2.0.2
zipp==3.6.0
pycountry==22.1.10
numpy==1.19.5
pandas==1.1.5
SPARQLWrapper==1.8.5
matplotlib==3.3.4
plotly==5.5.0
mlxtend==0.19.0
wordcloud==1.8.1
pyspark==3.2.1
pygal-maps-world=1.0.2