{% extends "base.html" %}

{% block content %}
<section class="vh-100 bg-dark">
    <div class="mask d-flex align-items-center h-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-start">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6 mt-4">
                    <form method="POST" action="/search">
                        <div class="input-group">
                            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="query"/>
                            <button type="submit" class="btn btn-light">search</button>
                        </div>
                    </form>
                    <p class="text-white">{{query}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}